Repository NnsDao/podcast-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,js}": "eslint --cache --fix",
  "src/**/*.{ts,js,css,md,json,html}": "npx prettier --write"
}

feat: tauri
  .vscode/launch.json
  .vscode/tasks.json
  canister_ids.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/pages/blog/latestEpisode/all/Index.tsx
Due: none

feat: cycle
  canister_ids.json
  src/api/podcast/index.ts
  src/pages/padcast/account/list/Index.tsx
  src/pages/padcast/status/Index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: manager
  src/pages/padcast/status/Index.tsx
Due: none

feat: me wallet
  package-lock.json
  package.json
  src/components/LoadingWrapper.tsx
  src/components/Login/Login.tsx
  src/components/TopBar.tsx
  src/main.tsx
Due: none

feat: canister manage
  package-lock.json
  src/api/manage/index.ts
  src/components/Login/Login.tsx
  src/pages/padcast/status/Index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: manage
  package-lock.json
  src/api/manage/index.ts
  src/api/podcast/index.ts
  src/pages/padcast/status/Index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: manager canister
  package-lock.json
  src/api/manage/index.ts
  src/pages/padcast/status/Index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: social
  src/pages/podcastCreator/cast/Index.tsx
Due: none

feat: change owner
  src/components/TopBar.tsx
  src/pages/episodes/introduce/Index.tsx
  src/pages/padcast/account/list/Index.tsx
Due: none

feat: oc
  index.html
  src/components/footer/Index.tsx
  src/public/social/openchat.jpg
Due: none

fix: vercel
  vercel.json
Due: none

feat: new roadmap
  README.md
Due: none

fix: new roadmap
  README.md
Due: none

feat: upload
  .gitignore
  canister_ids.json
  env/.env
  package-lock.json
  package.json
  src/components/Upload.tsx
  src/vite-env.d.ts
Due: eslint --cache --fix, npx prettier --write

fix: env
  env/.env
  src/components/Upload.tsx
  src/service/canister.config.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --cache --fix, npx prettier --write

feat: mui
  package-lock.json
  package.json
  src/vite-env.d.ts
Due: eslint --cache --fix, npx prettier --write

fix: esbuild
  package-lock.json
Due: none

feat: player
  package-lock.json
  package.json
  src/pages/podcastDetail/cast/Index.tsx
  src/pages/podcastDetail/cast/index.module.css
Due: npx prettier --write
