Repository NnsDao/podcast-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npx prettier --write

page
  src/App.tsx
  src/components/footer/Index.tsx
  src/pages/episodes/Index.tsx
  src/pages/episodes/article/Index.tsx
  src/pages/episodes/article/index.module.css
  src/pages/episodes/sponsor/Index.tsx
  src/pages/episodes/sponsor/index.module.css
  src/public/episodes/bgSponsor.png
  src/public/footer/footer1.png
  src/public/footer/footer2.png
Due: npx prettier --write

page
  package-lock.json
  src/App.css
  src/pages/about/Index.tsx
  src/pages/about/cast/Index.tsx
  src/pages/about/cast/index.module.css
  src/pages/about/founder/Index.tsx
  src/pages/about/history/Index.tsx
  src/pages/about/info/Index.tsx
  src/pages/about/ourListeners/Index.tsx
  src/pages/about/ourSponsor/Index.tsx
  src/pages/about/touch/Index.tsx
  src/pages/blog/Index.tsx
  src/pages/blog/article/Index.tsx
  src/pages/blog/article/index.module.css
  src/pages/blog/latestEpisode/Index.tsx
  src/pages/blog/latestEpisode/all/Index.tsx
  src/pages/blog/latestEpisode/all/index.module.css
  src/pages/blog/latestEpisode/business/Index.tsx
  src/pages/blog/latestEpisode/news/Index.tsx
  src/pages/blog/latestEpisode/podcast/Index.tsx
  src/pages/blog/latestEpisode/productivity/Index.tsx
  src/pages/blog/latestEpisode/tips/Index.tsx
  src/pages/more/Index.tsx
  src/pages/more/background/Index.tsx
  src/pages/more/cast/Index.tsx
  src/pages/more/cast/index.module.css
  src/pages/more/example/Index.tsx
  src/pages/more/listeners/Index.tsx
  src/pages/more/listeners/index.module.css
  src/public/about/cosmos.png
  src/public/about/overcast.png
  src/public/about/podcast.png
Due: npx prettier --write

fix
  package-lock.json
  src/api/common.ts
  src/api/demo/index.ts
  src/api/demo/queries.ts
  src/api/manage/index.ts
  src/api/manage/queries.ts
  src/common/helper.ts
  src/components/Login/Login.module.css
  src/components/Login/Login.tsx
  src/components/TopBar.tsx
  src/hooks/userStore.tsx
  src/pages/manage/Index.tsx
  src/pages/manage/billing/Index.tsx
  src/pages/manage/billing/index.module.css
  src/pages/manage/components/navLeft/Index.tsx
  src/pages/manage/components/navLeft/component/StyledTreeItem.tsx
  src/pages/manage/components/navLeft/config.ts
  src/pages/manage/home/Index.tsx
  src/pages/manage/home/index.module.css
  src/pages/manage/invoices/Index.tsx
  src/pages/manage/invoices/index.module.css
  src/pages/manage/password/Index.tsx
  src/pages/manage/password/index.module.css
  src/pages/manage/profile/Index.tsx
  src/pages/manage/profile/index.module.css
  src/pages/manage/site/Index.tsx
  src/pages/manage/site/index.module.css
  src/pages/manage/tokens/Index.tsx
  src/pages/manage/tokens/index.module.css
  src/public/logo/plug.png
  src/public/logo/stoic.png
  src/router/index.tsx
  src/service/canister.config.ts
  src/service/index.ts
Due: eslint --cache --fix, npx prettier --write

fix: podcast api
  package-lock.json
  src/api/manage/index.ts
  src/api/podcast/index.ts
  src/api/podcast/queries.ts
  src/pages/manage/home/Index.tsx
  src/pages/manage/home/list/Index.tsx
  src/pages/padcast/Index.tsx
  src/pages/padcast/account/Index.tsx
  src/pages/padcast/account/index.module.css
  src/pages/padcast/components/navLeft/Index.tsx
  src/pages/padcast/components/navLeft/component/StyledTreeItem.tsx
  src/pages/padcast/components/navLeft/config.ts
  src/pages/padcast/create/Index.tsx
  src/pages/padcast/create/index.module.css
  src/pages/padcast/link/Index.tsx
  src/pages/padcast/link/index.module.css
  src/pages/padcast/opus/Index.tsx
  src/pages/padcast/opus/index.module.css
  src/pages/padcast/opus/list/Index.tsx
  src/pages/padcast/status/Index.tsx
  src/pages/padcast/status/index.module.css
  src/router/index.tsx
  src/service/canister.config.ts
  src/service/index.ts
Due: eslint --cache --fix, npx prettier --write

fix: upload file
  package-lock.json
  package.json
  src/components/Upload.tsx
Due: none

fix: deploy script
  script/deploy-prod.sh
  script/deploy-test.sh
Due: none

fix: podcast api
  package.json
  src/api/podcast/index.ts
  src/common/helper.ts
  src/components/LoadingWrapper.tsx
  src/pages/manage/components/navLeft/config.ts
  src/pages/padcast/account/list/Index.tsx
  src/pages/padcast/components/navLeft/config.ts
  src/pages/padcast/information/Index.tsx
  src/pages/padcast/information/index.module.css
  src/pages/padcast/information/list/Index.tsx
  src/pages/padcast/link/Index.tsx
  src/pages/padcast/link/list/Index.tsx
  src/pages/padcast/opus/Index.tsx
  src/pages/padcast/opus/list/Index.tsx
  src/pages/padcast/opus/program/Index.tsx
  src/pages/padcast/profile/Index.tsx
  src/pages/padcast/profile/index.module.css
  src/pages/padcast/profile/list/Index.tsx
  src/pages/padcast/status/Index.tsx
  src/pages/padcast/status/list/Index.tsx
  src/router/index.tsx
Due: eslint --cache --fix, npx prettier --write

chore:
  package.json
Due: none

fix: style.default is not a function
  package-lock.json
  package.json
  src/App.tsx
  src/components/Upload.tsx
  src/pages/about/Index.tsx
  src/pages/manage/Index.tsx
  src/pages/more/Index.tsx
  src/pages/padcast/Index.tsx
  src/pages/padcast/account/list/Index.tsx
  src/pages/padcast/link/list/Index.tsx
  src/pages/padcast/opus/program/Index.tsx
  src/pages/padcast/status/list/Index.tsx
  src/pages/podcastDetail/Index.tsx
  vite.config.ts
Due: none

fix:api
  package.json
  src/api/podcast/index.ts
  src/components/LoadingWrapper.tsx
  src/components/TopBar.tsx
  src/components/Upload.tsx
  src/pages/padcast/account/list/Index.tsx
  src/pages/padcast/components/navLeft/config.ts
  src/pages/padcast/create/Index.tsx
  src/pages/padcast/create/index.module.css
  src/pages/padcast/information/list/Index.tsx
  src/pages/padcast/opus/Index.tsx
  src/pages/padcast/opus/newPodcast/Index.tsx
  src/pages/padcast/opus/program/Index.tsx
  src/pages/padcast/status/list/Index.tsx
  src/router/index.tsx
Due: eslint --cache --fix, npx prettier --write

fix: unlimited recursive
  src/api/podcast/index.ts
  src/components/LoadingWrapper.tsx
  src/pages/padcast/link/list/Index.tsx
  src/pages/padcast/status/list/Index.tsx
Due: eslint --cache --fix, npx prettier --write

fix:api
  src/api/podcast/index.ts
  src/api/podcast/queries.ts
  src/pages/manage/Index.tsx
  src/pages/manage/components/navLeft/config.ts
  src/pages/manage/home/Index.tsx
  src/pages/padcast/Index.tsx
  src/pages/padcast/link/list/Index.tsx
  src/pages/padcast/opus/components/Fragment.tsx
  src/pages/padcast/opus/program/Index.tsx
  src/pages/padcast/opus/program/UpdataButton.tsx
  src/pages/padcast/status/Index.tsx
  src/pages/padcast/status/list/Index.tsx
  src/pages/padcast/status/list/Item.tsx
  src/pages/podcastDetail/Index.tsx
  src/pages/podcastDetail/cast/Index.tsx
  src/pages/podcastDetail/cast/index.module.css
  src/router/index.tsx
Due: eslint --cache --fix, npx prettier --write

fix:Fix bugs
  src/api/podcast/index.ts
  src/pages/padcast/Index.tsx
  src/pages/padcast/opus/program/Index.tsx
  src/pages/padcast/opus/program/ShowNodeButton.tsx
  src/pages/padcast/status/list/Item.tsx
Due: eslint --cache --fix, npx prettier --write

fix:Add hint
  src/pages/manage/home/Index.tsx
  src/pages/manage/home/list/Index.tsx
  src/pages/manage/home/profile/CreactBaseInfo.tsx
  src/pages/manage/home/profile/Index.tsx
  src/pages/padcast/components/navLeft/config.ts
  src/pages/padcast/profile/Index.tsx
Due: eslint --cache --fix, npx prettier --write

fix: meet bug
  src/api/podcast/index.ts
  src/pages/padcast/opus/components/Fragment.tsx
  src/pages/padcast/opus/program/ShowNodeButton.tsx
  src/pages/padcast/opus/program/UpdataButton.tsx
Due: eslint --cache --fix, npx prettier --write

fix: css
  src/components/episodeCard/index.module.css
  src/components/footer/Index.tsx
  src/pages/about/cast/Index.tsx
  src/pages/about/cast/index.module.css
  src/pages/about/history/Index.tsx
  src/pages/about/info/Index.tsx
  src/pages/about/ourListeners/Index.tsx
  src/pages/blog/article/Index.tsx
  src/pages/blog/latestEpisode/Index.tsx
  src/pages/blog/latestEpisode/all/Index.tsx
  src/pages/blog/latestEpisode/all/index.module.css
  src/pages/episodes/Index.tsx
  src/pages/episodes/article/Index.tsx
  src/pages/episodes/article/index.module.css
  src/pages/episodes/artist/Index.tsx
  src/pages/episodes/listeners/Index.tsx
  src/pages/episodes/membership/index.module.css
  src/pages/episodes/product/Index.tsx
  src/pages/episodes/recent/Index.tsx
  src/pages/episodes/sponsor/Index.tsx
  src/pages/manage/Index.tsx
  src/pages/more/Index.tsx
  src/pages/more/background/Index.tsx
  src/pages/more/example/Index.tsx
  src/pages/more/listeners/Index.tsx
  src/pages/more/listeners/index.module.css
  src/pages/padcast/Index.tsx
  src/pages/padcast/opus/newPodcast/Index.tsx
  src/pages/podcastDetail/cast/Index.tsx
  src/public/episodes/photo1.png
  src/public/episodes/photo2.png
  src/public/episodes/photo3.png
  src/public/episodes/photo4.png
  src/public/episodes/photo5.png
Due: npx prettier --write

fix: cid
  src/api/podcast/index.ts
  src/api/podcast/queries.ts
  src/components/episodeCard/index.module.css
  src/pages/episodes/listeners/Index.tsx
  src/pages/episodes/membership/Index.tsx
  src/pages/episodes/sponsor/Index.tsx
  src/pages/manage/home/profile/CreactBaseInfo.tsx
  src/pages/manage/home/profile/Index.tsx
  src/pages/more/listeners/Index.tsx
  src/pages/padcast/account/list/Index.tsx
  src/pages/padcast/information/list/Index.tsx
  src/pages/padcast/link/list/Index.tsx
  src/pages/padcast/opus/components/Fragment.tsx
  src/pages/padcast/opus/newPodcast/Index.tsx
  src/pages/padcast/opus/program/Index.tsx
  src/pages/padcast/opus/program/ShowNodeButton.tsx
  src/pages/padcast/opus/program/UpdataButton.tsx
  src/pages/padcast/profile/list/Index.tsx
  src/pages/padcast/status/list/Index.tsx
  src/pages/podcastDetail/cast/Index.tsx
  src/service/canister.config.ts
  src/service/index.ts
Due: eslint --cache --fix, npx prettier --write

feat: ep
  index.html
  src/components/episodeCard/Index.tsx
  src/components/footer/Index.tsx
  src/pages/about/cast/Index.tsx
  src/pages/about/history/Index.tsx
  src/pages/about/info/Index.tsx
  src/pages/about/ourListeners/Index.tsx
  src/pages/about/touch/Index.tsx
  src/pages/blog/article/Index.tsx
  src/pages/blog/latestEpisode/all/Index.tsx
  src/pages/episodes/article/Index.tsx
  src/pages/episodes/product/Index.tsx
  src/pages/episodes/sponsor/Index.tsx
  src/pages/more/Index.tsx
  src/pages/more/background/Index.tsx
  src/pages/more/cast/Index.tsx
  src/pages/more/example/Index.tsx
  src/pages/more/listeners/Index.tsx
  src/public/episodes/back-run.jpg
  src/public/episodes/cast.jpeg
  src/public/episodes/ep-record.png
  src/public/episodes/record.png
  src/public/episodes/resource-podcast.jpg
  src/public/episodes/software.jpg
  src/public/home/favicon.ico
  src/public/home/logo.png
  src/public/home/nnsdaoLogo.ico
Due: none

feat: ep
  src/pages/manage/home/profile/CreactBaseInfo.tsx
  src/pages/manage/home/profile/Index.tsx
  src/pages/padcast/components/navLeft/config.ts
  src/pages/padcast/opus/Index.tsx
  src/router/index.tsx
Due: eslint --cache --fix, npx prettier --write

fix: type error when build
  canister_ids.json
  package-lock.json
  package.json
Due: none

fix: build terse
  package-lock.json
  package.json
Due: none

feat: content
  canister_ids.json
  src/pages/episodes/listeners/Index.tsx
  src/pages/episodes/membership/Index.tsx
Due: none

fix:style layout
  src/App.tsx
  src/pages/padcast/Index.tsx
  src/pages/padcast/components/navLeft/Index.tsx
  src/pages/padcast/components/navLeft/component/StyledTreeItem.tsx
  src/pages/padcast/opus/Index.tsx
  src/pages/padcast/opus/program/Index.tsx
  src/pages/padcast/profile/list/Index.tsx
  src/pages/padcast/status/Index.tsx
  src/pages/padcast/status/list/Index.tsx
  src/pages/padcast/status/list/Item.tsx
Due: none

feat: ep
  canister_ids.json
  index.html
  src/App.tsx
  src/components/TopBar.tsx
  src/components/footer/Index.tsx
  src/pages/about/history/Index.tsx
  src/pages/about/ourSponsor/Index.tsx
  src/pages/episodes/sponsor/Index.tsx
  src/pages/more/background/Index.tsx
  src/pages/more/example/Index.tsx
  src/pages/padcast/components/navLeft/config.ts
  src/public/about/audius.png
  src/public/about/looncast.png
  src/public/example/did-service.png
  src/public/example/did-service.svg
  src/public/example/web2-web3.png
  src/public/home/favicon.ico
  src/public/home/logo.png
  src/public/home/looncast.png
  src/public/topBar/looncast.png
  src/public/topBar/looncast_black.png
  src/router/index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: features
  src/pages/about/cast/Index.tsx
  src/pages/blog/article/Index.tsx
  src/pages/episodes/article/Index.tsx
  src/pages/episodes/artist/Index.tsx
  src/pages/episodes/membership/Index.tsx
Due: none

fix: record play
  src/pages/padcast/opus/program/Index.tsx
  src/pages/podcastDetail/cast/Index.tsx
Due: none

fix:guests add
  src/api/podcast/index.ts
  src/pages/padcast/account/list/Index.tsx
  src/pages/padcast/opus/components/Fragment.tsx
  src/pages/podcastDetail/cast/Index.tsx
Due: eslint --cache --fix, npx prettier --write

fix: guests
  src/api/podcast/index.ts
  src/pages/padcast/account/list/Index.tsx
  src/pages/padcast/opus/components/Fragment.tsx
  src/pages/padcast/opus/newPodcast/Index.tsx
  src/pages/padcast/opus/program/Index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: ep
  src/App.tsx
  src/common/cidConfig.ts
  src/components/PodTopBar.tsx
  src/components/footer/Index.tsx
  src/pages/episodes/recent/Index.tsx
  src/pages/episodes/sponsor/Index.tsx
  src/pages/manage/home/Index.tsx
  src/pages/padcast/components/navLeft/Index.tsx
  src/pages/padcast/components/navLeft/config.ts
  src/pages/podcastDetail/cast/Index.tsx
Due: eslint --cache --fix, npx prettier --write

fix: loadData
  src/api/podcast/index.ts
  src/common/cidConfig.ts
  src/pages/episodes/recent/Index.tsx
Due: eslint --cache --fix, npx prettier --write

fix: recentList
  src/components/episodeCard/Index.tsx
  src/pages/episodes/recent/Index.tsx
Due: none

feat: detail api
  src/api/podcast/index.ts
  src/components/episodeCard/Index.tsx
  src/components/episodeCard/index.module.css
  src/components/footer/Index.tsx
  src/pages/about/Index.tsx
  src/pages/about/founder/Index.tsx
  src/pages/about/history/Index.tsx
  src/pages/blog/Index.tsx
  src/pages/blog/article/Index.tsx
  src/pages/blog/latestEpisode/Index.tsx
  src/pages/blog/latestEpisode/all/Index.tsx
  src/pages/episodes/article/Index.tsx
  src/pages/episodes/listeners/Index.tsx
  src/pages/episodes/recent/Index.tsx
  src/pages/manage/home/Index.tsx
  src/pages/more/listeners/Index.tsx
  src/pages/podcastDetail/cast/Index.tsx
  src/public/footer/apple-podcast.svg
  src/public/footer/google-podcast.svg
  src/public/footer/overcast.svg
  src/public/footer/spotify.svg
Due: eslint --cache --fix, npx prettier --write

feat: manage
  src/components/footer/Index.tsx
  src/pages/episodes/article/Index.tsx
  src/pages/episodes/recent/Index.tsx
  src/pages/manage/components/navLeft/config.ts
  src/pages/manage/password/Index.tsx
  src/pages/manage/tokens/Index.tsx
  src/pages/more/listeners/Index.tsx
  src/pages/podcastDetail/cast/Index.tsx
  src/public/social/discord.svg
  src/public/social/figma.svg
  src/public/social/github.svg
  src/public/social/medium.svg
  src/public/social/telegram.svg
  src/public/social/twitter.svg
  src/public/social/youtube.svg
  src/router/index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: new ep
  src/common/cidConfig.ts
Due: eslint --cache --fix, npx prettier --write

feat: tauri
  README.md
  canister_ids.json
  package-lock.json
  package.json
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: none

feat: creator page & fix discover
  canister_ids.json
  src/api/podcast/index.ts
  src/pages/blog/Index.tsx
  src/pages/blog/article/Index.tsx
  src/pages/podcastCreator/Index.tsx
  src/pages/podcastCreator/cast/Index.tsx
  src/pages/podcastCreator/cast/index.module.css
  src/pages/podcastDetail/cast/Index.tsx
  src/router/index.tsx
Due: eslint --cache --fix, npx prettier --write

feat: creator
  src/App.tsx
  src/components/Upload.tsx
  src/pages/padcast/opus/components/Fragment.tsx
  src/pages/padcast/opus/newPodcast/Index.tsx
Due: none

feat: dmg
  app-icon.png
  canister_ids.json
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/app-icon.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: none

feat: data
  canister_ids.json
  src/pages/episodes/recent/Index.tsx
  src/pages/episodes/sponsor/Index.tsx
Due: none

Path conditions:
  eslint --cache --fix: any of: src/**/*.{ts,js}
  npx prettier --write: any of: src/**/*.{ts,js,css,md,json,html}
